# Series

In [1]:
import pandas as pd

In [2]:
series_test = pd.Series([1,2,3])
series_test

0    1
1    2
2    3
dtype: int64

In [3]:
series_test2 = pd.Series([100,200,300],dtype=float)
series_test2

0    100.0
1    200.0
2    300.0
dtype: float64

In [4]:
series_test3 = pd.Series({2016:32, 2017:30, 2018:34})
print("Ej: Ventas por año")
series_test3

Ej: Ventas por año

2016    32
2017    30
2018    34
dtype: int64

In [5]:
print(f'las ventas en el año 2016 fueron de: {series_test3[2016]}')

las ventas en el año 2016 fueron de: 32

# DataFrames

In [6]:
frame_test = pd.DataFrame([[12, 34, 35, 34],
                           [11, 37, 38, 23],
                           [16, 38, 60, 28]])
frame_test

    0   1   2   3
0  12  34  35  34
1  11  37  38  23
2  16  38  60  28

In [7]:
#columnas
frame_test2 = pd.DataFrame([[12, 34, 35, 34],
                           [11, 37, 38, 23],
                           [16, 38, 60, 28]], columns=[2015,2016,2017,2018])
frame_test2

   2015  2016  2017  2018
0    12    34    35    34
1    11    37    38    23
2    16    38    60    28

In [8]:
#columna: fila
frame_test1 = pd.DataFrame({2016: [12, 34, 35, 34],
                            2017: [11, 37, 38, 23],
                            2018: [16, 38, 60, 28],})
print('Ventas de cada año por quarter')
frame_test1

Ventas de cada año por quarter

   2016  2017  2018
0    12    11    16
1    34    37    38
2    35    38    60
3    34    23    28

In [9]:
#columna: indice:fila
frame_test_3 = pd.DataFrame({2016: {'Q1': 12, 'Q2': 34, 'Q3': 35, 'Q4': 34},
                             2017: {'Q1': 11, 'Q2': 37, 'Q3': 38, 'Q4': 23},
                             2018: {'Q1': 16, 'Q2': 38, 'Q3': 60, 'Q4': 28},})
print('Ventas de cada año por quarter')
frame_test_3

Ventas de cada año por quarter

    2016  2017  2018
Q1    12    11    16
Q2    34    37    38
Q3    35    38    60
Q4    34    23    28

## Indices y seleccion en DataFrames

### Dictionary Like

In [10]:
año_2016 = frame_test_3[2016]
año_2016

Q1    12
Q2    34
Q3    35
Q4    34
Name: 2016, dtype: int64

In [11]:
type(año_2016)

pandas.core.series.Series

In [12]:
ultimos_años = frame_test_3[[2017, 2018]]
ultimos_años

    2017  2018
Q1    11    16
Q2    37    38
Q3    38    60
Q4    23    28

In [13]:
type(ultimos_años)

pandas.core.frame.DataFrame

### Numpy like

Usando **iloc** incluimos los extremos

In [14]:
ultimos_q = frame_test_3.iloc[2:]
print('Los últimos Quarters de cada año')
ultimos_q

Los últimos Quarters de cada año

    2016  2017  2018
Q3    35    38    60
Q4    34    23    28

In [15]:
ultimo_q_2018 = frame_test_3.iloc[3:,2:]
ultimo_q_2018

    2018
Q4    28

In [16]:
ultimo_q_2016 = frame_test_3.iloc[3:,:1]
ultimo_q_2016

    2016
Q4    34

### Label Based

In [17]:
primeros_q_ultimos_años = frame_test_3.loc[:'Q2', '2017':]
primeros_q_ultimos_años

    2017  2018
Q1    11    16
Q2    37    38

# Read Data

Podemos configurar pandas para mostrar por defecto una cantidad de filas:

In [22]:
pd.options.display.max_rows = 6

### De esta forma podemos leer un csv como un DF usandos pandas

In [23]:
el_tiempo = pd.read_csv('web_scrapper/eltiempo_2018,_12_07_articles.csv',encoding='utf-8')
el_tiempo

,body,title,url
0,"\n\n\n\nEl presidente de Ecuador, Lenín Moreno...",'Está hecho el camino para que Assange deje la...,https://www.eltiempo.com/mundo/latinoamerica/l...
1,\n\n\n\nMedianoche del miércoles 28 de noviemb...,Pidió un Uber y acabó en un pique ilegal,https://www.eltiempo.com/bogota/historia-de-un...
2,"\n\n\n\nPhilip Morris, la mayor tabacalera del...",Multinacional Philip Morris avanza en su campa...,https://www.eltiempo.com/economia/multinaciona...
...,...,...,...
54,\n\n\n\nBelisario Betancur también puede consi...,Así fue la presidencia de Belisario Betancur e...,https://www.eltiempo.com/colombia/como-fue-la-...
55,\n\n\n\nPor considerar que en todo proceso jud...,Tutela para que decisiones de JEP sobre extrad...,https://www.eltiempo.com/justicia/jep-colombia...
56,\n\n\n\nLa Jurisdicción Especial para la Paz (...,JEP pide a autoridades localizar al 'Paisa' pa...,https://www.eltiempo.com/justicia/jep-colombia...

In [24]:
#5primeras
el_tiempo.head()

,body,title,url
0,"\n\n\n\nEl presidente de Ecuador, Lenín Moreno...",'Está hecho el camino para que Assange deje la...,https://www.eltiempo.com/mundo/latinoamerica/l...
1,\n\n\n\nMedianoche del miércoles 28 de noviemb...,Pidió un Uber y acabó en un pique ilegal,https://www.eltiempo.com/bogota/historia-de-un...
2,"\n\n\n\nPhilip Morris, la mayor tabacalera del...",Multinacional Philip Morris avanza en su campa...,https://www.eltiempo.com/economia/multinaciona...
3,\n\n\n\nVicente Torrijos fue nombrado oficialm...,Polémica por falso doctorado del nuevo directo...,https://www.eltiempo.com/politica/proceso-de-p...
4,\n\n\n\nHay cosas que simplemente van muy bien...,"Según estudios, la música realza los sabores d...",https://www.eltiempo.com/contenido-comercial/s...

In [25]:
el_tiempo.tail()

,body,title,url
52,"\n\nDecía el libreto que, a estas alturas, Med...",NaN,https://www.futbolred.com/futbol-colombiano/li...
53,"\n\n\n\n""A mí me gusta mucho mi trabajo, sient...",¿Cómo cazan infieles en Bogotá?,https://www.eltiempo.com/podcast/la-grabadora/...
54,\n\n\n\nBelisario Betancur también puede consi...,Así fue la presidencia de Belisario Betancur e...,https://www.eltiempo.com/colombia/como-fue-la-...
55,\n\n\n\nPor considerar que en todo proceso jud...,Tutela para que decisiones de JEP sobre extrad...,https://www.eltiempo.com/justicia/jep-colombia...
56,\n\n\n\nLa Jurisdicción Especial para la Paz (...,JEP pide a autoridades localizar al 'Paisa' pa...,https://www.eltiempo.com/justicia/jep-colombia...

In [31]:
el_tiempo['title']

0     'Está hecho el camino para que Assange deje la...
1              Pidió un Uber y acabó en un pique ilegal
2     Multinacional Philip Morris avanza en su campa...
                            ...
54    Así fue la presidencia de Belisario Betancur e...
55    Tutela para que decisiones de JEP sobre extrad...
56    JEP pide a autoridades localizar al 'Paisa' pa...
Name: title, Length: 57, dtype: object

In [27]:
el_tiempo[['title', 'url']]

,title,url
0,'Está hecho el camino para que Assange deje la...,https://www.eltiempo.com/mundo/latinoamerica/l...
1,Pidió un Uber y acabó en un pique ilegal,https://www.eltiempo.com/bogota/historia-de-un...
2,Multinacional Philip Morris avanza en su campa...,https://www.eltiempo.com/economia/multinaciona...
...,...,...
54,Así fue la presidencia de Belisario Betancur e...,https://www.eltiempo.com/colombia/como-fue-la-...
55,Tutela para que decisiones de JEP sobre extrad...,https://www.eltiempo.com/justicia/jep-colombia...
56,JEP pide a autoridades localizar al 'Paisa' pa...,https://www.eltiempo.com/justicia/jep-colombia...

In [33]:
#Fila Columna
el_tiempo.iloc[10:15, 1:]

,title,url
10,"Venezolano, se amplía el plazo para que pueda ...",https://www.eltiempo.com/mundo/venezuela/ultim...
11,"¿Cómo ayudar a Sully, perro de Bush padre, a s...",https://www.eltiempo.com/vida/medio-ambiente/p...
12,En 2019 habrá menos puentes y festivos en Colo...,https://www.eltiempo.com/mundo-curioso/cuantos...
13,Coca-Cola Femsa en Colombia amenaza con irse d...,https://www.eltiempo.com/economia/sectores/ley...
14,¿Cómo usar los nuevos 'stickers' a la colombia...,https://www.eltiempo.com/tecnosfera/apps/como-...

In [35]:
#Fila Columna
el_tiempo.iloc[34]['title']

'La paz de Belisario: una esperanza presa de la confrontación política'

In [39]:
el_tiempo.loc[:,'body':'title']

,body,title
0,"\n\n\n\nEl presidente de Ecuador, Lenín Moreno...",'Está hecho el camino para que Assange deje la...
1,\n\n\n\nMedianoche del miércoles 28 de noviemb...,Pidió un Uber y acabó en un pique ilegal
2,"\n\n\n\nPhilip Morris, la mayor tabacalera del...",Multinacional Philip Morris avanza en su campa...
...,...,...
54,\n\n\n\nBelisario Betancur también puede consi...,Así fue la presidencia de Belisario Betancur e...
55,\n\n\n\nPor considerar que en todo proceso jud...,Tutela para que decisiones de JEP sobre extrad...
56,\n\n\n\nLa Jurisdicción Especial para la Paz (...,JEP pide a autoridades localizar al 'Paisa' pa...